/* library specific classes */
.fab-container {
  bottom: 85px !important;
  right: 12px !important;
}

.fab-item {
  background-color: #16A9C9 !important;
  width: 54px;
  height: 43px;
  margin: 0;
  padding: 0;
}

.modal-btn {
  width: 200px;
  margin: 2px;
}

.modal-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .toast {
  display: inline-block;
  color: black;
  margin: 10px;
  z-index: 100;
  right: 0;
  position: absolute;
} */
