div h2 {
    padding: 50px;
}

.tagGroup {
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.fab-item button {
    width: 54px;
    height: 43px;
    margin: 0;
    padding: 0;
}

.toast {
  display: inline-block;
  color: black;
  margin: 10px;
  z-index: 100;
  right: 0;
  position: absolute;
}