.community-board__toggle-buttons--btn {
  background-color: transparent;
  color: rgba(164, 165, 178, 1);
  font-weight: 700;
  border: unset;
  font-size: 16px !important;
  margin: 0 10px;
}
/* 
.community-board__toggle-buttons--btn:focus {
  color: black;
  border-bottom: 3px solid rgba(42, 255, 169, 1);
  border-radius: 0;
  outline: none;
} */

#community-board__toggle-buttons--btn-active {
  background-color: #007bff;
  color: white;
}
.community-board {
  margin-top: 20px;
  margin-bottom: 180px;
  text-align: center;
}

.community-board__header--title {
  margin-bottom: 5px;
  font-size: 2.5rem;
}

.community-board__header--prompt {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.community-board__toggle-buttons {
  margin-bottom: 15px;
}
