.createcard_wrapper {
  text-align: center;
  margin: 30px; 
}

.createcard_text--field {
  width: 90%;
  height: 150px;
}

.createcard_title {
  font-size: 15pt;
}

.createcard_img, .createcard_text, .createcard_tags {
    background-color: #eaeaea;
    margin: 10px;
    padding: 20px;
}

.createcard_button--submit {
  background-color: #007bff;
  color: white;
}

.card {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.card-deck {
    text-align: center;
}

.nav-pills .nav-link:hover{
    background-color: gray;
}

.nav-pills .nav-link {
    background-color: lightgray;
    color: white;
    text-align: center;
}

button.close {
    width: 40px;
}

/* .cardImage {
  width: 200px;
  height: 200px;
  overflow: hidden;
} */
