.card{
    width: 200px;
    height: 200px;
}

.card-img{
    width: 200px;
    height: 200px;
}

.jumbotron {
    text-align: center;
}

.card-deck {
    text-align: center;
}

textarea {
    width: 400px;
    height: 200px;
}

.container {
    text-align: center; 
}

.instruction {
    font-size: 15pt;
}

.cardImage {
    width: 200px;
    height: 200px;
}

#tag-row{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-pills .nav-link.active{
    background-color: gray  !important;
}

.nav-pills .nav-link {
    background-color: lightgray;
    color: white;
}

p {
    text-align: left;
}

button.close {
    width: 40px;
}

.modal-btn {
    width: 200px;
    margin: 2px;
}

.modal-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#create-btn {
    background-color: #007bff;
    color: white;
}