.resource-section, .card-section{
    margin: 50px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
}

.card-section .btn, .resource-section .btn {
    float: right;
    width: fit-content;
    font-size: 25pt;
    font-weight: 100;
    color: black;
}

.card-section p {
    text-align: center;
    font-size: 10pt;
    padding-top: 10px;
    padding-bottom: 20px;
}

.resource-section {
    margin-top: 150px;
}

.resource-section .jumbotron-fluid {
    padding-bottom: 0px;
    padding-top: 0px;
}

.entry {
    margin: 10px;
}

.entry img {
    height: 150px;
    width: 200px;
}

.resource-section .jumbotron-fluid p {
    font-size: 9pt;
    margin: 0;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .resource-section {
        background-color: lightcoral;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .resource-section {
        background-color: rgb(232, 240, 128);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .resource-section {
        background-color: greenyellow;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .resource-section {
        background-color: blue;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .resource-section {
        background-color: purple;
    }
}