.resource-section, .card-section{
    margin: 50px;
    margin-bottom: 00px;
}

h2 {
    text-align: center;
}

.card-section .btn, .resource-section .btn {
    float: right;
    width: fit-content;
    font-size: 25pt;
    font-weight: 100;
    color: black;
}

.card-section p {
    text-align: center;
    font-size: 10pt;
    padding-top: 10px;
    padding-bottom: 20px;
}