@font-face {
  font-family: "kayak_sans_light-webfont";
  src: url("../../fonts/kayak_sans_light-webfont.woff2");
}

.home-first-section__container {
  padding: 10vh 10%;
  width: 100%;
}

.home-not-logged-in__container__left--header {
  font-size: 40pt;
  font-family: "kayak_sans_light-webfont";
}

.home-not-logged-in__container__left--header span {
  font-weight: 700;
  text-shadow: 3px 3px #1ed0ba;
}

.home-not-logged-in__container__left--description {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 15pt;
  width: 350px;
  margin: 40px 0;
}

.home-not-logged-in_container__left__button--login {
  font-size: 15pt;
  background: rgb(22, 169, 201);
  background: linear-gradient(90deg, rgba(22, 169, 201, 1) 0%, rgba(42, 255, 169, 1) 100%);
  border-radius: 90px;
  padding: 3px 30px;
  border: none;
  box-shadow: 0px 0px 12px -5px #000000;
}

.home-not-logged-in-logo {
  float: right;
}

@media only screen and (max-width: 980px) {
  .home-not-logged-in-logo {
    display: none;
  }
}
