.profile_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_header--image {
  position: relative; 
  top: -10px;
  width: 100px;
}

.profile_header>span {
  font-size: 12pt;
  margin-right: 20px;
}

.profile_header--points {
    font-size: 12pt;
}

.profile_header--coin {
    font-size: large;
    color: gold;
}

.profile_tabs {
  margin: 0 auto;
  width: 70vw;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.profile_challenges {
  padding: 15px;
}

.profile_challenges--title {
  text-align: left;
  margin-top: 20px;
}

.profile_post--loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.profile_post {
  text-align: center;
  background-color: white;
  color: black;
}

/* library dependent names */
.img {
  width: 30px;
}

.MuiTooltip-tooltip {
  size: 100px;
}

/* this goes in board? */
.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
} 


  /* .pill {
    z-index: 1;
    border: 1px solid black;
    border-radius: 100px;
    height: 70px;
    width: max-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
} */

/* .pill h3 {
    padding: 0;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    width: fit-content;
} */

/* div h2 {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* .col h3 {
    text-align: center;
} */