.img {
    width: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .pill {

    z-index: 1;
    border: 1px solid black;
    border-radius: 100px;
    height: 70px;
    width: 450px;
    margin-top: 5%;
    margin-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;

} */
.pill {

    z-index: 1;
    border: 1px solid black;
    border-radius: 100px;
    height: 70px;
    width: max-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

.pill h2 {
    padding: 0;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    width: fit-content;
}

div h2 {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    position: relative; 
    top: -10px;
    width: 100px;
}

.MuiTooltip-tooltip {
    size: 100px;
}

.col h3 {
    text-align: center;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.container .btn {
    background-color: #f8f9fa;
    color: black;
  }