.resources_wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 1335px;
}

.resources_wrapper > h2 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.resource_row {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .resource_row {
    display: unset;
  }
}
