#reportIcon {
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.comments {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

#feedback {
    position: absolute;
    left: 0;
    margin-left: 100px;
}

#thumbsUpIcon {
    position: absolute;
    left: 0;
    margin-left: 230px;
    color: lightskyblue;
}

#thumbsDownIcon {
    position: absolute;
    left: 0;
    margin-left: 250px;
    color: lightsalmon;
}