.add-comment__modal__header__title--trash {
  position: absolute;
  left: 0;
  margin-left: 20px;
}
.add-comment__modal__header__title--report {
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.comments {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.274);
}
.add-comment__modal__body {
  margin: 0 auto;
}

.add-comment__modal__body--prompt {
  position: absolute;
  left: 0;
  margin-left: 100px;
}

.add-comment__modal__body--error {
  position: absolute;
  left: 0;
  margin-left: 120px;
}
.add-comment__modal__body__form__container {
  display: flex;
}
.add-comment__modal__body__form__container__input--comments {
  width: 200px;
  margin-right: 5px;
  height: 24.5px;
}
.add-comment__modal__body__form__container__submit {
  text-align: right;
}
.add-comment__modal__body__form__container__submit--button {
  float: right;
}

@media only screen and (max-width: 320px) {
  .add-comment__modal__body__form__input-col--comments {
    width: 174px;
  }
  .add-comment__modal__body__form__input-col {
    padding-right: 0;
  }
}
