h1 {
  padding-bottom: 20px;
}

form {
  font-size: 12pt;
}

form>label>input {
  margin-left: 10px;
}

form>div:nth-child(1),  form>div:nth-child(2){
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

form>div:nth-child(1)>label, form>div:nth-child(2)>label {
  flex: 1;
}