
.container .btn {
    background-color: blue;
    color: white;
}

.btn {
    white-space:normal !important; 
    word-wrap: break-word; 
    word-break: normal;
    margin-right: 10px;
    border-radius: 500px;
}

.card {
    margin: 25px;
}

.text-center {
    margin-top: 70px;
    margin-bottom: 180px;
}

.text-center h2 {
    margin-bottom: 5px;
    font-size: 2.5rem;
}

.text-center h5 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.tagGroup {
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
}