.card-modal__body--container{
    margin: auto;
}

.card-modal__body--row--card {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.card-modal__body--row--text {
    margin-left: auto;
    margin-right:auto;
    padding-left: 7px;
}

.card-modal__footer--btn {
    width: 200px;
    margin: 2px;
}