.challenge-entry {
  display: flex;
  text-align: left;
  background-color: white;
  border: 1px solid #dfdfdf;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  min-height: 100px;
  max-width: 700px;
  margin: 20px auto;
}

.challenge-entry:hover {
  box-shadow: 1px 2px 5px rgb(216, 216, 216);
}

.challenge-entry_img {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.challenge-entry_text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.challenge-entry_text > h4 {
  color: grey;
}

.challenge-entry_text--buttons {
  margin-top: 10px;
  justify-content: flex-end;
}

.challenge-entry_text--buttons > button {
  margin-right: 10px;
  padding: 3px;
  width: 100px;
  font-size: 11pt;
  border: none;
  background-color: #0ba8c3;
  border-radius: 5px;
  color: white;
}

.challenge-entry_text--buttons > button:hover {
  background-color: #077386;
}

.challenge-entry_text--title {
  font-size: 16pt;
}

.challenge-entry_text--details {
  font-size: 11pt;
}

@media only screen and (max-width: 480px) {
  .challenge-entry {
    display: block;
    text-align: center;
    position: relative;
  }
  .challenge-entry_status {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
