.challenge-entry {
  display: flex;
  text-align: left;
  background-color: white;
  border: 1px solid #dfdfdf;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  min-height: 100px;
  max-width: 700px;
  margin: 0 auto;
}

.challenge-entry:hover {
  box-shadow: 1px 2px 5px rgb(216, 216, 216);
}

.challenge-entry_img {
  margin-left: 2%;
  height: 100px;
  width: 100px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.challenge-entry_text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;
}

.challenge-entry_text>h4 {
  color: grey;
}

.challenge-entry_text--buttons {
  margin-top: 10px;
  justify-content: flex-end;
}

.challenge-entry_text--buttons>button {
  margin-right: 10px;
  padding: 3px;
  width: 100px;
  font-size: 11pt;
  border: none;
  background-color: #0BA8C3;
  border-radius: 5px;
  color: white;
}

.challenge-entry_text--buttons>button:hover {
  background-color: #077386;
}

.challenge-entry_text--title {
  font-size: 16pt;
}

.challenge-entry_text--details {
  font-size: 11pt;
}