.commentWrapper {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.089);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.089);
  margin-bottom: 5px;
  width: 280px;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  margin-bottom: 10px;
}



