.mini-board__togglebuttons {
  text-align: center;
}

.mini-board__btngroup--tag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.mini-board__btn__tag--subscribe {
  display: none;
}

.mini-board__btn__tag {
  margin: 10px;
}

.mini-board__btn__tag:hover .mini-board__btn__tag--subscribe {
  display: unset;
  padding-left: 10px;
}

.mini-board__btn--tag,
.miniboard__btn--type {
  font-size: 10pt !important;
  margin-left: 10px !important;
}

.mini-board__visible-board-wrapper {
  position: relative;
  text-align: center;
}

.mini-board__visible-board {
  position: relative;
  margin: 2em auto;
  width: 90%;
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* .mini-board__btn-container {
  margin-top: 20px;
  height: 100px;
  text-align: center;
} */

.mini-board__btn--show {
  display: block;
  margin: 0 auto;
  z-index: 100;
  font-size: 18px;
  color: rgb(78, 78, 78);
  border: 1px solid rgb(42, 170, 255);
  border-radius: 10px;
}

/* .fade {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 255, 255)) !important;
  height: 100px;
  margin-top: -100px;
  position: relative;
} */
