.toggleButtons {
  text-align: center;
}

.visibleBoardWrapper {
  position: relative;
  text-align: center;
}

.show {
  display: block;
  margin: 0 auto;
  z-index: 100;
  font-size: 18px;
  color: white;
  background-color: rgb(42, 170, 255);
  border: 1px solid white;
}

.buttonContainer {
  margin-top: 20px;
  height: 100px;
  text-align: center;
}

.visibleBoard {
  position: relative;
  margin: 2em auto;
  width: 90%;
  max-height: 400px;
  overflow: hidden;
  transition: max-height .6s ease;
}

.fade {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 255, 255));
  height: 100px;
  margin-top: -100px;
  position: relative;
}

.card-section .btn{
  font-size: 10pt;
}
