#cardWrapper {
  margin: 5px;
}

.card-text {
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.card {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.18);
    border: none !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: white;
} 

.card:hover {
  box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
}

.text-bottom-left {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.text-center {
  margin-top: 0 !important;
}

.iconItem {
  margin: 5px;
}

.commentCount {
  display: inline-block;
  margin-right: 8px;
}

.upvoteCount {
  display: inline-block;
  margin-right: 8px;
}

.downvoteCount {
  display: inline-block;
  margin-right: 8px;
}

.bubble {
  display: inline-block;
  margin-right: 8px;
}

.thumbs-up {
  display: inline-block;
  margin-right: 3px;
}

.thumbs-down {
  display: inline-block;
  margin-right: 3px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 375px) {
  #cardWrapper {
    width: fit-content;
    margin-left: 65px;
  }
}

@media only screen and (max-width: 360px) {
  #cardWrapper {
    margin-left: 55px;
  }
}

@media only screen and (max-width: 320px) {
  #cardWrapper {
    margin-left: 35px;
  }
}