.card-img{
    opacity: 0.75;
}

.card-text {
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
}

.card {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}