#cardWrapper {
  margin: 5px;
}

.card-text {
  font-size: 12pt;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.mycard__card {
  /* display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
  /* border: none !important; */
  margin: 25px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: white;
}

.mycard__card :hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.22);
}

.mycard__card__overlay__text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.text-center {
  margin-top: 0 !important;
}

.mycard__card__overlay__text-bottom--icon-item {
  margin: 5px;
}

.mycard__card__overlay__text-bottom--comment-count {
  display: inline-block;
  margin-right: 8px;
}

.mycard__card__overlay__text-bottom--comment {
  display: inline-block;
  margin-right: 8px;
}

.mycard__card__overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
/* 
@media only screen and (max-width: 375px) {
  #cardWrapper {
    width: fit-content;
    margin-left: 65px;
  }
}

@media only screen and (max-width: 360px) {
  #cardWrapper {
    margin-left: 55px;
  }
}

@media only screen and (max-width: 320px) {
  #cardWrapper {
    margin-left: 35px;
  }
} */
