.ml-auto {
  font-size: 13pt;
  /* background-color: green; */
}

#brand {
    font-size: 10pt;
    font-weight: 800;
    color: black;
    width: 120px;
}

.navWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navItem {
  display: inline-block;
  font-size: 15pt;
  margin-right: 5px;
  color: black !important;
}

.nav-item {
  display: inline-block !important;
}

.nav-link {
  text-align: right;
}

.navbar-collapse  {
  border: none;
}

/* .iconGroup {
  display: inline-block !important;
  text-align: right;
} */