.navigation {
  margin-bottom: 5%;
  background-color: #303454;
}

.navigation__brand--img, .navigation__item--user-image {
  width: 40px;
  height: 40px;
  margin: 15px 25px;
}

.navigation__item {
  margin-right: 20px;
  margin-left: 20px;
  /* padding-right: 10px;
  padding-left: 10px; */
  width: 40px;
}

.navigation__item--user-image_loader {
  height: inherit;
}

/* .svg:hover {
  filter: invert(0.22) sepia(1) saturate(1.9) hue-rotate(86.4deg) brightness(1.13);
} */

@media only screen and (max-width: 768px) {
  .navigation__brand--img, .navigation__item--user-image {
    width: 30px;
    height: 30px;
    margin: 10px 15px;
  }
  
  .navigation__item {
    padding-right: 20px;
    width: 45px;
  }
}

@media only screen and (max-width: 440px) {
  .navigation__brand--img, .navigation__item--user-image {
    width: 20px;
    height: 20px;
    margin: 10px 20px;
  }
  
  .navigation__item {
    margin-right: 10px;
    margin-left: 10px;
    width: 40px;
  }
}