@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.quote-section {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Noto Sans';
  padding-left: 160px;
  padding-right: 160px;
}

/* remove gray border in original format */
.blockquote {
  border-left: 0px solid #eee;
}

.blockquote-footer {
  margin: 20px;
}


