@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.quote-section {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Noto Sans';
  padding-left: 140px;
  padding-right: 140px;
}

/* remove gray border in original format */
.blockquote {
  border-left: 0px solid #eee;
}

.quote {
  font-size: 20px;
}

.author {
  font-size: 16px;
}

.blockquote-footer {
  margin: 20px;
}

#quoteSym {
  font-size: 30pt;
  font-family: 'Passion One', cursive;
}

@media only screen and (max-width: 768px) {
  .quote-section {
    padding-left: 50px;
    padding-right: 50px;
  }
  .quote {
    font-size: 16px;
  }
  .author {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .quote-section {
    padding-left: 140px;
    padding-right: 140px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .quote-section {
    padding-left: 300px;
    padding-right: 300px;
  }
}

